/* Core Files */
@import 'https://fonts.googleapis.com/css?family=Pacifico|Ubuntu:300,400,700';
body {
  background-color: #fbfbfb;
  margin: 0;
  padding: 0;
}

* {
  outline: none;
}

.banner_message {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #01BAEF;
  z-index: 50000;
  color: white;
  line-height: 50px;
  font-size: 18px;
}
.banner_message .left {
  text-align: left;
  display: inline-block;
}
.banner_message .right {
  float: right;
  display: inline-block;
}
.banner_message .right:hover {
  cursor: pointer;
}

/* Page Specific Files */
.navbar {
  background: white;
  border: none;
  margin: 0;
  -webkit-box-shadow: 0px 9px 45px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 9px 45px -8px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 9px 45px -8px rgba(0, 0, 0, 0.5);
}
.navbar .navbar-brand {
  padding: 0 15px;
}
.navbar .navbar-brand img {
  height: 50px;
  padding: 10px 0;
}

#hero_container {
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg");
  background-size: cover;
  padding: 100px 0;
}
#hero_container img {
  border: 5px solid #ececec;
  max-width: 256px;
  margin: 0 auto;
}
#hero_container h1 {
  color: #ececec;
  font-size: 22px;
  text-align: center;
  margin: 15px 0 0 0;
}

#about_container {
  padding: 100px 0 0 0;
  margin: 0 0 100px 0;
}
#about_container h1 {
  margin: 0 0 25px 0;
  color: #525252;
}
#about_container p {
  color: #525252;
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0 0 0;
}

#specialties_container {
  background-color: #194f64;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  color: #ececec;
}
#specialties_container img {
  max-width: 256px;
  margin: auto;
}
#specialties_container p {
  font-weight: 400;
  max-width: 450px;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  #specialties_container .irs {
    margin-bottom: 50px;
  }
}

#services_container {
  color: #525252;
  padding: 100px 0;
}
#services_container h1 {
  margin: 0;
}
#services_container ul {
  margin: 25px 0;
  padding: 0 25px;
  font-size: 16px;
  font-weight: 400;
}

#contact_container {
  width: 100%;
  height: 100%;
  background-color: #194f64;
  color: white;
  padding: 100px 0;
}
#contact_container ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#contact_container hr {
  margin: 10px 0 25px 0;
}
#contact_container textarea {
  min-height: 150px;
  resize: none;
}
#contact_container input[type="submit"] {
  width: 100%;
  height: 34px;
  background-color: #2f87d7;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  border: none;
}
#contact_container input[type="submit"]:hover {
  background-color: #2fd7aa;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#footer_container {
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #ececec;
  background-color: #292929;
}
#footer_container h1 {
  font-size: 24px;
}
#footer_container h3 {
  font-size: 16px;
}
#footer_container h1, #footer_container h3 {
  margin: 0;
}
#footer_container a {
  color: #43c0ee;
}
#footer_container a:hover {
  cursor: pointer;
}
