body {
	background-color: #fbfbfb;
	margin:0;
	padding:0;
}

* {
	outline:none;
}

.banner_message {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #01BAEF;
    z-index: 50000;
    color: white;
    line-height: 50px;
    font-size: 18px;

    .left {
        text-align: left;
        display: inline-block;
    }

    .right {
        float: right;
        display: inline-block;

        &:hover {
            cursor: pointer;
        }
    }
}