.navbar {
    background: $white;
    border: none;
    margin: 0;
    -webkit-box-shadow: 0px 9px 45px -8px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 9px 45px -8px rgba(0,0,0,0.50);
    box-shadow: 0px 9px 45px -8px rgba(0,0,0,0.50);

    .navbar-brand {
        padding: 0 15px;

        img {
            height: 50px;
            padding: 10px 0;
        }
    }
}

#hero_container {
    width: 100%;
    height: 100%;
    background: url('../images/bg.jpg');
    background-size: cover;
    padding: 100px 0;

    img {
        border: 5px solid $whiteGrey;
        max-width: 256px;
        margin: 0 auto;
    }

    h1 {
        color: $whiteGrey;
        font-size: 22px;
        text-align: center;
        margin: 15px 0 0 0;
    }
}

#about_container {
    padding: 100px 0 0 0;
    margin: 0 0 100px 0;

    h1 {
        margin: 0 0 25px 0;
        color: $mediumGrey;
    }

    p {
        color: $mediumGrey;
        font-size: 16px;
        font-weight: 400;
        margin: 25px 0 0 0;
    }
}

#specialties_container {
    background-color: #194f64;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    color: $whiteGrey;

    img {
        max-width: 256px;
        margin: auto;
    }

    p {
        font-weight: 400;
        max-width: 450px;
        margin: auto;
    }

    @media only screen and (max-width : 992px) { 
        .irs {
            margin-bottom: 50px;
        }
    }
}

#services_container {
    color: $mediumGrey;
    padding: 100px 0;

    h1 {
        margin: 0;
    }

    ul {
        margin: 25px 0;
        padding: 0 25px;
        font-size: 16px;
        font-weight: 400;
    }
}

#contact_container {
    width: 100%;
    height: 100%;
    background-color: #194f64;
    color: $white;
    padding: 100px 0;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    hr {
        margin: 10px 0 25px 0;
    }

    textarea {
        min-height: 150px;
        resize: none;
    }

    input[type="submit"] {
        width: 100%;
        height: 34px;
        background-color: #2f87d7;
        @include border-radius(5px);
        @include fadeBG(200ms);
        border: none;

        &:hover {
            background-color: #2fd7aa;
            @include fadeBG(200ms);
        } 
    }
}

#footer_container {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    color: $whiteGrey;
    background-color: #292929;

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
    }

    h1, h3 {
        margin: 0;
    }

    a {
        color: $babyBlue;

        &:hover {
            cursor: pointer;
        }
    }
}
